# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright:focal
    steps:
      - uses: actions/checkout@v2
      - run: apt-get update && apt-get install -y sudo
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - run: npm ci --no-optional --no-audit --prefer-offline --progress=false
